*{
    padding: 0px;
    margin: 0px;
  
}
body{
    background-color:  rgb(79, 79, 208);
}
#all{
    background-color: rgb(113, 134, 211);
    align-items: center;
    display: block;
text-align: center;
height: 38.5rem;
width: 50%;
margin-left:25%;
padding-top: 5rem;
border: 1px solid rgb(95, 95, 226);


}
h1{
color: darkblue;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 300;
font-size: 3rem;
word-spacing: 1000%;
margin-bottom: 2rem;

}
#wlcm{
font-family: monospace;
font-weight: 300;
font-size: 1.2rem;
padding-bottom: 1rem;

}
.cat{
    background-color: white;
    height: 70px;
    width: 60%;
    margin-top: 40px;
    font-size: 1.6rem;
    border: 3px solid rgba(18, 136, 205,0.6);
    border-radius: 1.5rem;
    text-align: center;
    font-family: monospace;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}
#forget{
    color: red;
    font-size: 1.3rem;
    margin-top: 1rem; 
    display: inline-block;   
}
#submit{
    height: 2rem;
    width: 15%;
    align-items: center;
    display: inline-block;
    margin-top:1rem ;
    border-radius: 15px;
    border: 1px solid blueviolet;
    font-size: 0.9rem;
    font-family: monospace;
    color: green;
    font-weight: 700;
}
